.container {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  background-color: rgb(59, 89, 152);
}

.small {
  font-size: 9px;
  text-align: center;
  color: black;
}

ul{
  list-style-type: none;
}

nav ul li {
  list-style-type: none;
  float: right;
  padding-top: 10px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  padding-right: 30px;
}

thead{
  border-bottom: 1px solid rgb(59, 89, 152);  
}

td, th{
  white-space: nowrap;
  padding: 8px 25px 5px 0;
}

tr:nth-child(even) {
  background: #CCC;
}

footer {
  position: absolute;
  bottom: 0;
  float: right;
  text-align: center;
  width: 100%;
}

h3, h1{
  color: rgb(59, 89, 152);
  color: rgba(59, 89, 152, 0.9);
  font-weight: bold;
}

.navbar ul{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.navbar span{
  padding-left: 100px;
}

.profile, .survey{
  float: left;
  margin-top: 130px;
}

.errors {
  color: white;
}

.error li{
  font-size: 13px;
  color: rgb(59, 89, 152);
}

.login {
  margin: 0 0 0 0;
  padding-top: 13px;
  float: right;
}

.login label {
  font-size: 12px;
  color: white;
}

.login input{
  margin-top:  4px;
  margin-right: 8px;
}

.login label:nth-child(1){
  padding-right: 192px;
}

.login div {
  padding-top: 10px;
}

.header {
  float:left;
  color: white;
}

.results_button, .take_button{
  border-color: #3b6e22 #3b6e22 #2c5115;
  cursor: pointer;
  color: white;
  -webkit-border-radius: 5px;
  border-radius: 10px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  background: rgb(59, 89, 152);
  background: rgba(59, 89, 152, 0.9);
  -webkit-box-shadow: inset 0 1px 1px #a4e388;
  -moz-box-shadow: inset 0 1px 1px #a4e388;
  box-shadow: inset 0 1px 1px #a4e388;

}

.signup_button, .spy_button, .signin_button, .new_survey_button, .build_survey_button, .create_complete_button, .submit_survey_button{
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
  cursor: pointer;
  background-color: #69a74e;
  color: white;
  letter-spacing: 1px;
  position: relative;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  background: -webkit-linear-gradient(top, #67ae55, #578843);
  -webkit-box-shadow: inset 0 1px 1px #a4e388;
  -moz-box-shadow: inset 0 1px 1px #a4e388;
  box-shadow: inset 0 1px 1px #a4e388;
}

.signup{
  clear: both;
  float: right;
  padding-right: 233px;
}

.signup div {
  width: 300px;
  margin-bottom: 12px;
}

.signup h1{
  margin-bottom: 10px;
}

.signup span:first-of-type{
  font-size: 11px;
}

.signup div:first-of-type{
  margin-top: 10px;
}

.signup input{
  float: right;
 -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.signup div:nth-of-type(4){
  margin-bottom: 50px;
}

.signup div:nth-of-type(4) input{
  float: left;  
}

.survey_form input, .build_survey input{
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.survey_form input:nth-child(2){
  width: 172px;
}

.new_survey_button{
  top: 18px;
}

.profile h3:first-of-type{
  padding-top: 25px;
}

.survey h3{
  margin: 0 0 0 0;
}

footer {
  position: absolute;
  bottom: 0;
  float: right;
  text-align: center;
  width: 100%;
}

#participant_survey div{
  display: none;
}


.current_question{
  background-color: yellow;
  display: normal;
}


input[type=radio] {
    margin: 3px 25px 4px 0 ;
  }

.for_new_survey div{
  margin-top: 0;
}

