<div>
<h3>Create New Survey:</h3>

<form>
  <input type="text" name="survey" placeholder="Survey Name">
  <input type="number" name="num_questions" placeholder="Number of Questions">
  <input submit>
</form>
</div>
