<div id='new_survey_form'>
<h3>Create New Survey:</h3>

<form method="POST" action="/survey/new">
  <input type="text" name="survey" placeholder="Survey Name">
  <input type="number" name="num_questions" placeholder="Number of Questions">
  <input type='submit' value='spying' >
</form>
</div>
