<div id='new_survey_form'>
<h3>Create New Survey:</h3>

<form action="/survey/new" method="POST" >
  <input type="text" name="survey" placeholder="Survey Name">
  <input type="number" min='0' name="num_questions" placeholder="Number of Questions">
  <input class='spy_button' type='submit' value='spy' >
</form>
</div>
