<div class="new_survey_container">
<h3>thank you for completing the "<%= @survey.name %>" survey</h3>

<p>We at the agency appreciate your input</p>

<!-- <a href="/profile/<%# session[:user_id] %> ">profile</a> -->
<form method='GET' action="/profile/<%=session[:user_id]%>">
<button class='back_to_profile' type='submit'>profile</button>
</form> 
</div>
