<form class='login' id="sign-in" method="post" action="/sessions">
    <label for="email">Email</label>
    <label for="password">Password</label>
    <br>
    <input type="email" name="email" placeholder="e.g., me@example.com" value="<%= @email %>">
    <input type="password" name="password" placeholder="6 or more characters">
    <input class='signin_button' type="submit" value="Sign In">
    <% if @error %>
      <div class="errors"><%= @error %></div>
    <% end %>
</form>



<!-- <div id="errors"><%# erb :_model_errors, :layout => false, :locals => { :model => @user } %></div> -->
  <form class='signup' method="post" action="/users">
  <h1>Sign Up</h1>
  <span>We archive everything you do and always will!</span>
    <div>
      <label for="name">Name</label>
      <input type="text" name="user[name]" placeholder="e.g., joe" value="<%# @user.name %>">
      <span id="name-errors" class="errors"></span>
    </div>
  

    <div>
      <label for="email">Email</label>
      <input type="email" name="user[email]" placeholder="e.g., me@example.com" value="<%# @user.email %>">
      <span id="email-errors" class="errors"></span>
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="user[password]" placeholder="6 or more characters">
      <span id="entered_password-errors" class="errors"></span>    
    </div>

    <div>
      <input class='signup_button' type="submit" value="Sign Up">
    </div>
    <% if @errors %>
    <div class='error'>
    <ul>
      <% @errors.each do |error, message| %>
        <li><%= error.upcase %> <%= message %></li>
        <br>
    <% end %>
    </ul>
   </div>
  <% end %>
  </form>

<footer>
  <span class='small'>
    <p> We reserve the right to collect your information and use it how we see fit.</p>
  </span>
</footer>
