<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Facebook lite</title>
</head>
<body>
  <div class="container">
  <nav class='navbar'>
  <h1 class='header'><span class='small'>NSA  </span>national survey agency</h1> 
      <ul>
        <% if current_user %>
          <li><a id='sign-out' href="/sessions/<%= current_user.id %>">Sign Out</a></li>
          <li><a href="/profile/#{current_user.id}">Profile Page</a></li>
        <% end %>
      </ul>
    </nav>
  <%= yield %>
  </div>
</body>
</html>
