<h1>Profile</h1>
<div><%= current_user.name  %></div> 


<h3>Surveys</h3>

<table>
  <ul>
    <thead>
      <th>Survery Name</th>
      <th>Results</th>
    </thead>
    
      <% if @created %>
      <% @created.each do |survey| %>
      <tr>
        <td>  <%=survey.name%> </td>
        <td> <a href="/survey/#{survey.id}/results"> Results </a></td>
      </tr>
      <% end %>
  </ul>
  <% end %>
</table>

<br>

